<div class="flex-row justify-center" style="margin-bottom: 10px;">
    <a href="/scheduler" class="btn btn-danger">Schedule Appointment Today!</a>
</div>

<div class="flex-row justify-space-between">
    {{#each donors as |donor|}}

    <div class="card card-rounded col-md-5 text-center donorCard">

        <div class="card-header">

            <h3>Donor Name: {{donor.name}}</h3>

        </div>

        <div class="card-body">
            <P>Donor Height: {{donor.height}} in.</p>
            <P>Donor Weight: {{donor.weight}} lbs.</p>
            <P>Donor Gender: {{donor.gender}}</p>
            <P>Donor Blood Type: {{donor.bloodtype}}</p>
            <P>Donor Phone Number: {{donor.phone}}</p>
        </div>

    </div>

    {{/each}}

</div>