<div class="row align-center mb-5">
   <a href="/adddonor">Add Donor</a>
    {{#if loggedIn}}
     
    <button id="logout" class="btn-no-style">Logout</button>
    {{!-- <a href="/adddonor"></a> --}}
    {{else}}
    <a href="/login"></a>
    {{/if}}
  </div>
  
    </div>
</div>
<div class="row align-center mb-5">
   <a href="/login">Search for Blood</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    {{!-- <a href="/searchforblood"></a> --}}
    {{/if}}
  </div>

    
  </div>
</div>
<div class="row align-center mb-5">
  <a href="/login">Delete Donor/Patient</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    {{!-- <a href="/deletedonor"></a> --}}
    {{/if}}
  </div>
  
    
  </div>
</div>
<div class="row align-center mb-5">
  
   <a href="/login">Add Patient</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    {{!-- <a href="/addpatient"></a> --}}
    {{/if}}
  </div>
  
    </div>
</div>
<div class="row align-center mb-5">
  
     <a href="/login">Donor List</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    {{!-- <a href="/donorlist"></a> --}}
    {{/if}}
  </div>

    
  </div>
</div>
<div class="row align-center mb-5">

      <a href="/login">Patient List</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    {{!-- <a href="/patientlist"></a> --}}
    {{/if}}
  </div>
 
    
  </div>
</div>
